.InputPassword {
  background-color: transparent;
  border: 1px solid #e2e6ed;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  width: 100%;
  color: var(--text-color);
}

.InputPassword::placeholder {
  color: #bbbfce;
}

.InputPassword:focus {
  outline: none;
  border-color: #bbbfce;
}

.InputPassword--error {
  border-color: #d5427a;
}

.InputPassword--error:focus {
  border-color: #d5427a;
}
