.newuser {
  margin: .5rem 0 1rem 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.newuser__title {
  font-size: 1.5rem;
  font-weight: 500;
  margin: .5rem 0;
  color: var(--text-color);
}

.newuser__content {
  width: calc(100vw - 100px - 2rem - 230px);
}
